<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <h1>{{message}}</h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<hr>
11
<!-- C2: <app-interaction-tuongtac [parentData]="name"></app-interaction-tuongtac> -->
<app-interaction-tuongtac (childEvent)="message=$event" [parentData]="name"></app-interaction-tuongtac>
<!-- Dùng cho chuyển trang -->
<hr>
0
<h1>Tôi tên là : {{ nameTitle }}</h1>
<div app-demo1></div>
<app-demo-caulenh></app-demo-caulenh>

<hr>
1
<app-demo2></app-demo2>

<hr>
2
<app-input></app-input>

<hr>
3
<app-class></app-class>

<hr>
4
<app-style></app-style>

<hr>
5
<app-event></app-event>

<hr>
6
<app-value></app-value>

<hr>
7
<app-from></app-from>

<hr>
8
<app-directive></app-directive>

<hr>
9
<app-ngSwitch></app-ngSwitch>

<hr>
10
<app-ngFor></app-ngFor>

<hr>
12
<app-pipes></app-pipes>

<hr>
13
<app-employee-list></app-employee-list>
<app-employeeDetail></app-employeeDetail>

<hr>
14
<app-employee-detail1></app-employee-detail1>
<app-employee-list1></app-employee-list1>






<p style="margin-bottom:800px;"></p>

